body {
    margin: 0;
}
nav {
    background-color: grey;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 5em;
    z-index: 999!important;
    line-height: 0;
}

nav div {
    float: right;
}

nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: large;
}

h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

.top_cont_outer {
    position: relative;
    background: #ED5441;
    background: url('../img/Header.jpg') no-repeat;
    background-size: cover;
}

.hero_wrapper {
    background: rgba(10, 21, 37, 0.69);
    height: 650px;
}

.hero_section {
    position: relative;
    padding-top: 10px;
}

.top_left_cont {
    padding: 38px 0;
}

.top_left_cont h2 {
    font-size: 40px;
    color: #FFF;
    line-height: 52px;
    margin: 0 0 26px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.top_left_cont h2 strong {
    font-weight: 700;

    color: grey;
}

#steckbrief {
    height: 400px;
    background-color: white;
}

#faehigkeiten {
    height: 400px;
    background-color: lightblue;
}

#erfahrungen {
    height: 400px;
    background-color: white;
}

#kontakt {
    height: 400px;
    background-color: lightblue;
}


/*about me*/
.aboutUs-container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    background-position-y: 70px;
    }
    #about-us, h2, h3, h6, p {
    color:#A3ACBA;
    }
    #about-us .read-more{
        border: 1px solid #ED5441;
        color: #1a1a1a;
    }
    
    #about-us .read-more:hover{
        background-color: #e74c3c;
        border: 1px solid #e74c3c;
        color: #fff;
    }
    .about-us-post-container{
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
    }
    .about-us{
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .about-us h3{
        font-size:28px;
    }
    .points{ 
        margin-bottom: 10px;
        font-size:14px;
        padding-left:0px;
    }
    .about-us p{
        /*font-size: 0.9375em;*/
        line-height: 1.625em;
        padding: 15px 0;
    }
    .about-us .about-us-list{
        list-style: none;
        margin-bottom: 20px;
        padding-left:0px;
    }
    
    .about-us .points{
        position: relative;
        list-style-type: none;
        padding: 5px 0 5px 30px;
    }
    
    .about-us .points:before{
        content: "\f058";
        position: absolute;
        font-family: FontAwesome;
        font-size: 1.125em;
        color: #11D25D;
        left: 0px;
        top: 3px;
    }
    
    .about-us-link a:first-child{
        margin-left: 0;
    }