body {
    margin: 0;
}
nav {
    background-color: grey;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 5em;
    z-index: 999!important;
    line-height: 0;
}

nav div {
    float: right;
}

nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: large;
}

h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

.top_cont_outer {
    position: relative;
    background: #ED5441;
    background: url('../img/Header.jpg') no-repeat;
    background-size: cover;
}

.hero_wrapper {
    background: rgba(10, 21, 37, 0.69);
    height: 650px;
}

.hero_section {
    position: relative;
    padding-top: 10px;
}

.top_left_cont {
    padding: 38px 0;
}

.top_left_cont h2 {
    font-size: 40px;
    color: #FFF;
    line-height: 52px;
    margin: 0 0 26px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.top_left_cont h2 strong {
    font-weight: 700;

    color: grey;
}

#skills {
    height: 400px;
    background-color: white;
}

#kontakt {
    height: 400px;
    background-color: lightblue;
}


/*about me*/
.aboutUs-container {
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    background-position-y: 70px;
    }
    #about-us, h2, h3, h6, p {
    color:#A3ACBA;
    }
    #about-us .read-more{
        border: 1px solid #ED5441;
        color: #1a1a1a;
    }
    
    #about-us .read-more:hover{
        background-color: #e74c3c;
        border: 1px solid #e74c3c;
        color: #fff;
    }
    .about-us-post-container{
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 100%;
    }
    .about-us{
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .about-us h3{
        font-size:28px;
    }
    .points{ 
        margin-bottom: 10px;
        font-size:14px;
        padding-left:0px;
    }
    .about-us p{
        /*font-size: 0.9375em;*/
        line-height: 1.625em;
        padding: 15px 0;
    }
    .about-us .about-us-list{
        list-style: none;
        margin-bottom: 20px;
        padding-left:0px;
    }
    
    .about-us .points{
        position: relative;
        list-style-type: none;
        padding: 5px 0 5px 30px;
    }
    
    .about-us .points:before{
        content: "\f058";
        position: absolute;
        font-family: FontAwesome;
        font-size: 1.125em;
        color: #11D25D;
        left: 0px;
        top: 3px;
    }
    
    .about-us-link a:first-child{
        margin-left: 0;
    }

    #aboutMe {
        padding: 60px 0;
        background: #0A1525;
    }
    

    /*meine Fähigkeiten*/
    #faehigkeiten {
        padding: 60px 0px;
        background: grey;
    }
    #faehigkeiten h2{
      color: #fff;
    
    }
    .service_wrapper {
        padding: 40px 0 40px;
    }
    
    .service_section {
    }
    
    .service_block {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px; 
        position: relative;
    }
    
    .service_icon {  
        width: 90px;
        height: 85px;
        margin: 0px auto 25px; 
    }
    
     
    
    .service_icon span {
        background: transparent; 
        display: block;
        height: 95px;
        width: 95px;
        
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        padding: 6px 0 0;
    }
    
    .service_icon i {
      color: #FFFFFF;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 20px;
    z-index: 20;
    display: block;
    text-align: center;
    }
    
    .service_block h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #fff;
    margin: 35px 0 15px; 
    }
    #service h6{
    color:#fff;
    }
    .service_block p {
        font-size: 16px;
        color: #fff;
        margin: 0 0 35px 0; 
    }


    #skills{
        padding:80px 0 60px;
        }
         .progress {
          height: 20px;
          margin-bottom: 20px;
          overflow: hidden;
          background-color: #f5f5f5;
          border-radius: 0;
        }
        .progress {
            position: relative;
            height: 25px;
        }
        .progress > .progress-type {
            position: absolute;
            left: 0px;
            font-weight: 400;
            padding: 3px 30px 2px 10px;
            color: rgba(255, 255, 255, 0.54);
            background-color: rgba(25, 25, 25, 0.2);
        }
        .progress > .progress-completed {
            position: absolute;
            right: 0px;
            font-weight: 400;
            padding: 3px 10px 2px;
        }

       